<div class="col-lg-2 col-xs-5" >
						<!-- small box -->
						<div class="small-box  tile{{i}}" title={{name}}  >
							<div class="inner" >
							  
								<h3>{{count}}</h3>
								<p class="small">{{name | uppercase | slice:0:14}}   </p>
							</div>
							<div class="icon">
								<i class="ion ion-pie-graph"></i>
							</div>
							<a href="getallAssets/Furniture, Fittings &amp; Fixtures /pageno/1" class="small-box-footer"> View <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
</div>