.tile0 
{

   background-color : #B758D7 !important;  
   color:white;
}


.tile1
{

background-color: #ff6633 !important;
  color:white;
}

.tile2
{

background-color: #3366cc !important;
  color:white;
}
.tile3
{

background-color: #ffcc33 !important;
  color:white;
}
.tile4
{

background-color: #66cc99 !important;
  color:white;
}
.tile5
{

background-color: #cc9933 !important;
  color:white;
}