


<div class="box">
	<div class="box-header">
		<h3 class="box-title">Buildings</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body no-padding">
		<p>Showing {{page.size}}  Of {{page.totalElements}} Records</p>
		<table class="table">
			<tbody>
				<tr>



<th *ngFor="let item of columns"  style="text-align: left; width:{{item.width}}">

{{item.col | uppercase}}<a *ngIf="item.sortable"(click)="setSortColumn(item.col)"> <i  class="fa fa-fw fa-sort"></i></a>

</th>



				</tr>

				<tr *ngFor="let item of list |  async">
					<td>{{item.name}}</td>
					<td>{{item.description}}</td>
					
					
					<td><a ><button class="btn btn-success btn-sm" (click)=onEdit(item._links.building.href)>Edit</button></a>&nbsp;
						<a ><button class="btn btn-danger btn-sm" (click)=onDelete(item._links.building.href)>Delete</button></a>
					</td>
		
				</tr>



			</tbody>
		</table>
	</div>
	<!-- /.box-body -->

</div>



<ul class="pagination">
	<li><a (click)="onNextPage((page).number - 1)" *ngIf="page.number>0 ">Prev</a></li>
	<li *ngFor="let p of page.totalPages | numberToArray" [ngClass]="{active :p== page.number}" >
		<a (click)="onNextPage(p)">{{p+1}}</a></li>

	<li><a (click)="onNextPage(page.number + 1)" *ngIf="page.number != page.totalPages-1  ">Next</a></li>
</ul>
